.DS_Store
__pycache__/
.cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

.venv/
dist/

logs/

.vscode/
!/.vscode/settings.json

.env
!/.env

.secrets
!/.secrets

/.user
# ^ each user should create a symlink named `.user` to their personal space
# it *can* be committed and tracked in the repo excluding secrets (!) at `users/<the first commit by the user>`
